header{
    padding: 10px 0px;
    font-size: 1.5em;
    text-align: center;
}
/* --- การตั้งค่าพื้นฐาน --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* --- ส่วนหัว (Header) --- */
.main-header {
    display: flex; /* ใช้ Flexbox เพื่อจัดองค์ประกอบในแนวนอน */
    justify-content: space-between; /* จัดโลโก้และเมนูให้อยู่คนละฝั่ง */
    align-items: center; /* จัดให้อยู่กึ่งกลางในแนวตั้ง */
    padding: 20px 40px; /* กำหนดระยะห่างด้านใน */
}

.logo-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* ทำให้รูปภาพเป็นวงกลม */
    border: 3px solid #333; /* สร้างกรอบสีดำรอบโลโก้ */
}

.main-nav ul {
    display: flex;
    list-style: none; /* ลบจุดนำหน้าเมนู */
    border-style: solid;
    border-width: medium;
    border-color: #000000;
    padding: 0px 0px 0px 100px;
    display: flex;
    justify-content: center; /* นี่คือส่วนที่ทำให้เมนูอยู่ตรงกลาง */
    gap: 20px; /* ใช้ gap เพื่อกำหนดระยะห่างระหว่างเมนู */
}

.main-nav li {
    margin-left: 25px; /* ระยะห่างระหว่างเมนู */
}

.main-nav a {
    text-decoration: none; /* ลบเส้นใต้ลิงก์ */
    color: #333;
    font-weight: 600;
    font-size: 30px;
}
ul a {
    border-style: solid;
    border-width: thin;
    border-color: #8FD9FB;
    background-color: aqua;
}
.box{
    border-style: solid;
    border-width: thin;
    border-color: #8FD9FB;
}