header{
    padding: 10px 0px;
    font-size: 1.5em;
    text-align: center;
}
.main-header {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* ปรับ padding ตามต้องการ */
    background-color: #ffffff; /* หรือสีพื้นหลังอื่นๆ */
    border-bottom: 1px solid #ddd; /* สร้างเส้นแบ่งด้านล่าง (ไม่บังคับ) */
}

.logo-link {
    display: flex; /* ทำให้ลิงก์จัดกึ่งกลางรูปภาพ */
}

.logo-img {
    height: 50px; /* กำหนดความสูงของโลโก้ */
    width: auto; /* ปรับความกว้างอัตโนมัติ */
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ccc;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-item {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
