.header-logo {
    background-color: #ffffff;
    border-top: 5px solid #009933;
    border-bottom: 2px solid #99cc66;
    text-align: center;
    padding: 20px 0;
}

.logo-container {
    max-width: 300px; /* สามารถปรับขนาดได้ตามความต้องการ */
    margin: 0 auto;
}

.logo-image {
    width: 100%;
    height: auto;
    display: block;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ccc;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-item {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.live-button {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-container {
    position: relative;
}

.search-input {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #4CAF50;
}

.profile-icon {
    text-decoration: none;
    color: #4CAF50;
}