.box1 {
  margin: 0 auto; /* จัดให้อยู่ตรงกลาง */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}
.box3 {
  /* กำหนดขนาดและตำแหน่งของโลโก้ */
  width: 200px; /* สามารถปรับขนาดได้ตามต้องการ */
  height: 200px; /* เพิ่มความสูงให้เท่ากับความกว้าง */
  height: auto; /* ทำให้ความสูงปรับตามอัตราส่วนของรูปภาพ */
  text-align: left; /* จัดตำแหน่งให้ชิดซ้าย */
}

.box3 img {
  /* ทำให้รูปภาพพอดีกับ container */
  max-width: 100%;
  height: auto;
}

.box4{
  /* ทำให้โลโก้ทั้งหมดเป็นลิงก์ */
  display: block;
}
.box6 {
    list-style-type: none; /* ลบจุดหน้ารายการ */
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียงรายการ */
    justify-content: space-around; /* จัดเรียงองค์ประกอบให้มีช่องว่างเท่าๆ กัน */
    align-items: center; /* จัดเรียงองค์ประกอบในแนวตั้งให้อยู่ตรงกลาง */
    background-color: #f1f1f1;
    padding: 10px; /* เพิ่ม padding รอบๆ */
}
.box8 {
  background-color: #2196F3;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}