.m1 {
    list-style-type: none; /* ลบจุดนำหน้าของรายการ */
  margin: 0; /* ลบระยะขอบด้านนอก */
  padding: 0; /* ลบระยะขอบด้านใน */
  display: flex; /* ใช้ Flexbox เพื่อจัดเรียงรายการในแนวนอน */
  justify-content: center; /* จัดเรียงรายการให้ชิดขวา */
  align-items: center; /* จัดรายการให้อยู่กึ่งกลางในแนวตั้ง */
}